attr
cachetools
cython
dash
dash_bootstrap_components
dataclasses
# datasets
datetime
enum
gensim
importlib
itertools
jinja2
json
logging
salesforce-merlion
# or salesforce-merlion[all]
matplotlib
nltk
numba
numpy
packaging
pandas
pathlib
pickle
plotly
PyYAML
re
schema
scikit-learn
seaborn
spacy
tokenizers
torch
tqdm
transformers
ts_datasets
typing
urllib
#yaml
