attr
cachetools
cython
dash
dash-bootstrap-components
dataclasses
datasets
datetime
gensim
jinja2
salesforce-merlion
# # or salesforce-merlion[all]
matplotlib
nltk
numba
numpy
packaging
pandas
pathlib
plotly
PyYAML
schema
scikit-learn
seaborn
spacy
tokenizers
torch
tqdm
transformers
typing

